### Function Basics - Dt. 10 August 2022

In [35]:
function multi(a,b)
    a*b
end

multi (generic function with 2 methods)

In [2]:
multi(2,3)

6

In [36]:
multi(2.2,2.2)

4.840000000000001

In [4]:
function multi2(a::Int64, b::Int64)
    a*b
end

multi2 (generic function with 1 method)

In [5]:
multi2(2.2,2.2)

LoadError: MethodError: no method matching multi2(::Float64, ::Float64)

### How to write function in a single line

In [6]:
multi1(a::Float64, b::Float64) = a*b

multi1 (generic function with 1 method)

In [7]:
multi1(10.0,20.0)

200.0

In [8]:
function multi(a::Int64, b::Int64)
    a*b, a/b, a%b
end

multi (generic function with 1 method)

In [9]:
multi(9,4)

(36, 2.25, 1)

In [10]:
x, y, z = multi(10,4)

(40, 2.5, 2)

In [11]:
print(x, " ", y, " ", z)

40 2.5 2

### Varying arguments function

In [37]:
function varargs(x, y,args...) # Atleast two input must be there need to check
    println(x, "\t", y)
    println(args)
    println(args...)
end

varargs (generic function with 1 method)

In [39]:
varargs(10,20,[1,2,3,4],[5,6,7],[8,9],[10,11,12],13,14)

10	20
([1, 2, 3, 4], [5, 6, 7], [8, 9], [10, 11, 12], 13, 14)
[1, 2, 3, 4][5, 6, 7][8, 9][10, 11, 12]1314

In [14]:
function nre(d::Float64, u::Float64 , rho= 1000 , mu=0.001)
    d*u*rho/mu
end

nre (generic function with 3 methods)

In [15]:
nre(5e-3, 10.0)

50000.0

### keyword argument

In [44]:
function keyargs(x, y; c1=10, c2=15)
    println(x, "\t", y)
    println(c1, "\t", c2)
end

keyargs (generic function with 1 method)

In [45]:
keyargs(10,20, c2=15, c1=12)

10	20
12	15

In [18]:
keyargs(10,20)

10	20
10	15

In [19]:
function func1(x::Array{Float64}, y::Array{Int64})
    # x .= x*2    # .= -> inplace = True 
    # y .= y*3
    
    for i in 1:length(x)
        x[i] *= 2
    end
    for i in 1: length(y)
        y[i] *= 3
    end
end

func1 (generic function with 1 method)

In [20]:
x = [1.1,2.2,3.3]
y = [1,2,3]

3-element Vector{Int64}:
 1
 2
 3

In [21]:
func1(x,y)

In [22]:
x

3-element Vector{Float64}:
 2.2
 4.4
 6.6

In [23]:
y

3-element Vector{Int64}:
 3
 6
 9

### Anonymous Function

In [24]:
b = function(x)
    x*2
end

#2 (generic function with 1 method)

In [46]:
a = b(2)

4

### Also another way of writing Anonymous function`

In [25]:
(x,y) -> x*y

#4 (generic function with 1 method)

In [26]:
map(s-> s^2, y)

3-element Vector{Int64}:
  9
 36
 81

In [27]:
map(s->2s, x)

3-element Vector{Float64}:
  4.4
  8.8
 13.2

In [28]:
map((x,y)-> x*y, x, y)

3-element Vector{Float64}:
  6.6000000000000005
 26.400000000000002
 59.4

In [29]:
map(x -> x^2, map(+, [1,2,4],[3,4,5]))

3-element Vector{Int64}:
 16
 36
 81

In [30]:
species = ["CH4(g)","CO(g)", "H(s)", "O(s)", "N2(g)"]

5-element Vector{String}:
 "CH4(g)"
 "CO(g)"
 "H(s)"
 "O(s)"
 "N2(g)"

In [31]:
filter(sp -> occursin("(s)", sp),species)

2-element Vector{String}:
 "H(s)"
 "O(s)"

In [32]:
x = [i^2 for i in 1:10]

10-element Vector{Int64}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100