### Function

In [6]:
function multi(a::Int64,b::Int64)
    a*b
end

multi (generic function with 2 methods)

In [7]:
multi(2,3)

6

In [8]:
multi(2.2,2.2)

4.840000000000001

In [11]:
function multi2(a::Int64, b::Int64)
    a*b
end

multi2 (generic function with 1 method)

In [12]:
multi2(2.2,2.2)

LoadError: MethodError: no method matching multi2(::Float64, ::Float64)

### How to write function in a single line

In [18]:
multi1(a::Float64, b::Float64) = a*b

multi1 (generic function with 1 method)

In [19]:
multi1(10.0,20.0)

200.0

In [20]:
function multi(a::Int64, b::Int64)
    a*b, a/b, a%b
end

multi (generic function with 2 methods)

In [21]:
multi(9,4)

(36, 2.25, 1)

In [22]:
x, y, z = multi(10,4)

(40, 2.5, 2)

In [23]:
print(x, " ", y, " ", z)

40 2.5 2

In [27]:
function varargs(x, y,args...)
    println(x, "\t", y)
    println(args)
end

varargs (generic function with 1 method)

In [29]:
varargs(10,20,[1,2,3,4],[5,6,7])

10	20
([1, 2, 3, 4], [5, 6, 7])

function nre(d::Float64, u::Float64 , rho= 1000 , mu=0.001)
    d*u*rho/mu
end

In [32]:
nre(5e-3, 10.0)

50000.0

In [37]:
function keyargs(x, y; length=10, width=15)
    println(x, "\t", y)
    println(length, "\t", width)
end

keyargs (generic function with 1 method)

In [38]:
keyargs(10,20, length=15, width=12)

10	20
15	12

In [39]:
keyargs(10,20)

10	20
10	15

In [54]:
function func1(x::Array{Float64}, y::Array{Int64})
    # x .= x*2    # .= -> inplace = True 
    # y .= y*3
    
    for i in 1:length(x)
        x[i] *= 2
    end
    for i in 1: length(y)
        y[i] *= 3
    end
end

func1 (generic function with 1 method)

In [55]:
x = [1.1,2.2,3.3]
y = [1,2,3]

3-element Vector{Int64}:
 1
 2
 3

In [58]:
func1(x,y)

In [59]:
x

3-element Vector{Float64}:
  4.4
  8.8
 13.2

In [57]:
y

3-element Vector{Int64}:
 3
 6
 9

### Anonymous Function

In [61]:
b = function(x)
    x*2
end

#4 (generic function with 1 method)

### Also another way of writing Anonymous function`

In [62]:
(x,y) -> x*y

#6 (generic function with 1 method)

In [65]:
map(s-> s^2, y)

3-element Vector{Int64}:
  81
 324
 729

In [67]:
map(s->2s, x)

3-element Vector{Float64}:
  8.8
 17.6
 26.4

In [69]:
map((x,y)-> x*y, x, y)

3-element Vector{Float64}:
  39.6
 158.4
 356.4

In [70]:
map(x -> x^2, map(+, [1,2,4],[3,4,5]))

3-element Vector{Int64}:
 16
 36
 81

In [71]:
species = ["CH4(g)","CO(g)", "H(s)", "O(s)", "N2(g)"]

5-element Vector{String}:
 "CH4(g)"
 "CO(g)"
 "H(s)"
 "O(s)"
 "N2(g)"

In [72]:
filter(sp -> occursin("(s)", sp),species)

2-element Vector{String}:
 "H(s)"
 "O(s)"